### Xcode ###
## User settings
xcuserdata/
*.xcuserstate
YeolmokWeather/YeolmokWeather/API_KEY/WeatherInfo.plist

###folder meta data###
*.DS_Store

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
